body{
    margin: 0;
    font-family: ui-monospace, system-ui, fantasy;
    font-size: 14px;
}

.window{
    display: flex;
    height: 100vh;

}
.filter{
    display: flex;
    flex-direction: column;
    width: 150px;
    min-width: 150px;
    background-color: gainsboro;
    margin-right: 2px;
    padding: 10px;
    word-wrap: break-word;

}
#period{
    margin: 10px 0;
}
.select{
    background-color: white;
    padding: 10px;
    height: 100%;
    list-style-type: none;
    overflow-y: scroll;
}
.from, .before{
    display: flex;
    margin: 10px 0;
    padding: 0 10px;
    height: 1.5em;
    background-color: white;
    align-items: center;

}
.dataLabel{
    color: gray;
}

#dataFrom, #dataBefore{
    width: 100%;
    text-align: center;
    cursor: pointer;
    border: none;
    outline:none;
}

.checkbox{
    cursor: pointer;
}

.objectName{
    width: 100px;
    min-width: 100px;
    background-color: darkgray;
}




.diagram{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc(100% - 15px);
    overflow-y: scroll;
    font-size: 10px;
}

.holst{
    width: 100%;

}
.help{
    min-height: 35px;
    height: 35px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.helpEl{
    display: flex;
    height: 30px;
}
.helpEl svg{
    width: 30px;
    height: 30px;
}
.helpEl div{
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.label{
    font-size: 14px;
    font-weight: 700;
}
.row{
    font-size: 10px;
}
.rect{
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(45deg);
}

.rect[type='ok']{
    fill: green;
}
.rect[type='disruption']{
    fill: red;
}
.rect[type='byContract']{
    fill: blue;
}
.rect[type='forecast']{
    fill: lightgrey;
}


/* Ползунки */
::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, lightgray, gray);
    border-radius: 4px;
    height: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}


